{
    "trailingComma": "es5",
    
    "tabWidth": 1,
    "semi": false,
    "bracketSpacing": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "auto"
  }
