@keyframes drop-down {
   
    0% {
        opacity: 0;
        height: 0;
    }

    10% {
        height: 0px;
    }

    20% {
        height: 25px;
        
    }

    30% {
        height: 50px;
    }

    40% {
        height: 75px;
        opacity: .15;
    }

    50% {
        height: 100px;
    }

    60% {
        height: 125px;
        opacity: .25;
    }

    70% {
        height: 150px;
    }

    80% {
        height: 175px;
        opacity: .50;
    }
    
    100% {
        opacity: 1;
        height: auto;
    }
}


@keyframes back-up {
   
    0% {
        opacity: 1;
        height: 175px;
    }

    10% {
        height: 175px;
        opacity: .50;
    }

    20% {
        height: 150px;
    }

    30% {
        height: 125px;
        opacity: .25;
    }

    40% {
        height: 100px;
    }

    50% {
        height: 75px;
        opacity: .15;
    }

    60% {
        height: 50px;
    }

    70% {
        height: 25px;
    }

    80% {
        height: 10px;
    }


    100% {
        opacity: 0;
        
        height: 0px;
    }
}


.down {
    animation: drop-down 1000ms;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;

}

.up {
    animation: back-up 1000ms;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;
}

.hide {
    display:none
}

.pl-15 {
    padding-left: 1rem;
}

.pr-21 {
    padding-right: 3rem;
}
  

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}