
.menu--1 label {
    bottom: 0;
    right: 0;
  }

.cross input:checked+svg {
.line--1,
.line--3 {
    --length: 22.627416998;
}
.line--2 {
    --length: 0;
}
}

.back input:checked+svg {
.line--1,
.line--3 {
    --length: 8.602325267;
}
}

.menu--1 {
.line--1,
.line--3 {
    --total-length: 126.64183044433594;
    }
    .line--2 {
        --total-length: 70;
    }
    input:checked+svg {
        .line--1,
        .line--3 {
        --offset: -94.1149185097;
        }
        .line--2 {
        --offset: -50;
        }
    }
}

@media (min-aspect-ratio: 1/1) {
    label {
      width: 50vh;
      height: 50vh;
    }
  }
  
  .menu--1 label {
    bottom: 0;
    right: 0;
  }

  circle {
    fill: #fff3;
    opacity: 0;
  }

path {
    fill: none;
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .8s cubic-bezier(.645, .045, .355, 1);
  }

  input {
    display: none;
  }

   
  .grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  
  .grid>* {
    position: relative;
  }
  
  label {
    display: block;
    cursor: pointer;
    width: 40vw;
    height: 50vw;
    max-width: 150px;
    max-height: 150px;
  }

@keyframes drop-down {
   
    0% {
        opacity: 0;
        transform: translateY(-20px);
        height: 0;
    }

    10% {
        height: 15px;
    }

    20% {
        height: 30px;
    }

    30% {
        height: 45px;
    }

    40% {
        height: 60px;
    }

    50% {
        height: 75px;
    }

    60% {
        height: 90px;
    }

    70% {
        height: 105px;
    }

    80% {
        height: 120px;
    }

    90% {
        height: 135px;
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
        height: 150px;
    }
}


@keyframes back-up {
   
    0% {
        opacity: 1;
        transform: translateY(0px);
        height: 80px;
    }

    25% {
        height: 60px;
    }

    50% {
        height: 40px;
    }


    100% {
        opacity: 0;
        transform: translateY(-20px);
        height: 35px;
       
    }
}


.down {
    animation: drop-down 1000ms;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;

}

.up {
    animation: back-up 1000ms;
    animation-timing-function: linear;
    visibility: hidden;
    transition: visibility 0, opacity 0 linear;
}

.rs-nav {
    
}

.pl-15 {
    padding-left: 1rem;
}

.pr-21 {
    padding-right: 3rem;
}
  

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}